#students li {
	background-color: skyblue;
	border: 5px solid red;
	padding: 15px;
	margin: 5px;
}

#students {
	list-style-type: none;
	padding: 10px;
	background: yellow;
	border: 7px double green;
}